:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

body {
  margin: 0;
}

input,
select,
textarea,
button {
  outline: 0;
}

a {
  text-decoration: none;
}

a.gradient {
  background: linear-gradient(to right, #EC9719 0%, #EBD613 100%);
}

a.transparent {
  background: transparent;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  /* width: 1440px; */
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}

/* Header Start */

.hero-header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 1440px;
  background: #ffffff;
}

.header {
  flex-shrink: 0;
  position: relative;
  width: 1440px;
}

.header .header-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  height: 80px;
}

.header .header-1 .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 1280px;
  padding: 0 32px 0 32px;
  z-index: 4;
}

.header .header-1 .container .content {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 40px;
  position: relative;
  width: 627.186px;
  z-index: 5;
}

.header .header-1 .container .content .logo {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 83.186px;
  z-index: 6;
}

.header .header-1 .container .content .logo .group {
  flex-shrink: 0;
  position: relative;
  width: 83.186px;
  height: 31.871px;
  z-index: 7;
}

.header .header-1 .container .content .logo .group .union {
  position: absolute;
  width: 13.22px;
  height: 28.131px;
  top: 0;
  left: 0;
  background: url(../images/biveri.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
}

.header .header-1 .container .content .logo .group .biveri {
  position: absolute;
  width: 59px;
  height: 29px;
  top: 2.87px;
  left: 24.186px;
  font-family: Josefin Sans, var(--default-font-family);
  font-size: 22.67680549621582px;
  font-weight: 700;
  line-height: 22.677px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 8;
}

.header .header-1 .container .content .logo .group .biveri .bi {
  position: relative;
  font-family: Euclid Circular A, var(--default-font-family);
  font-size: 22.67680549621582px;
  font-weight: 700;
  line-height: 22.677px;
  text-align: left;
  background: linear-gradient(135deg, #07041e, #15203b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header .header-1 .container .content .logo .group .biveri .veri {
  position: relative;
  font-family: Euclid Circular A, var(--default-font-family);
  font-size: 22.67680549621582px;
  font-weight: 300;
  line-height: 27.212px;
  text-align: left;
  background: linear-gradient(135deg, #07041e, #15203b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigation {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 32px;
  position: relative;
  width: 100%;
}

.menu-item-base {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  padding: 4px 0 4px 0;
}

.menu-item-base:hover {
  border-bottom: 2px solid #ffc73a;
  padding: 4px 0 2px 0;
  z-index: 15;
}

.menu-item-base .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  overflow: hidden;
}

.menu-item-base:hover .item {
  cursor: pointer;
}

.menu-item-base .item .text {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  font-family: Euclid Circular A, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  color: #0C101C;
}

.menu-item-base .item .chevron {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  display: contents;
  color: #0C101C;
}

.solutions-page .menu-item-base .item .text,
.solutions-page .menu-item-base .item .chevron {
  color: #FFFFFF;
}

.menu-item-base:hover .item .chevron i.fa-chevron-up,
.menu-item-base .item .chevron i.fa-chevron-down {
  display: contents;
}

.menu-item-base:hover .item .chevron i.fa-chevron-down,
.menu-item-base .item .chevron i.fa-chevron-up {
  display: none;
}

.menu-item-base .header-dropdown {
  visibility: hidden;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: absolute;
  width: 393px;
  top: 32px;
  left: 0px;
  background: #ffffff;
  border: 1px solid #eaedf0;
  z-index: 260;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 6px 0 rgba(16, 24, 40, 0.03);
  /* transition: visibility 0.2s; */
}

.header-dropdown.show {
  visibility: visible;
}

.header-dropdown > .menu-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  padding: 24px 20px 24px 20px;
  z-index: 261;
  overflow: hidden;
}

.header-dropdown .menu-content .nav-menu-item {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  padding: 12px 12px 12px 12px;
  z-index: 262;
  border-radius: 8px;
}

.header-dropdown .menu-content .nav-menu-item .icon {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 270;
  overflow: hidden;
}

#products.header-dropdown .menu-content .nav-menu-item .icon img {
  width: 20px;
}

#solutions.header-dropdown .menu-content .nav-menu-item .icon img {
  width: 24px;
}

.header-dropdown .menu-content .nav-menu-item .item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 12px;
  position: relative;
  z-index: 264;
}

.header-dropdown .menu-content .nav-menu-item .item-content .text-supporting {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  z-index: 265;
}

.text-supporting .text-badge {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  z-index: 266;
}

.text-supporting .text-badge a {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #0c101c;
  font-family: Euclid Circular A, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 267;
  text-decoration: none;
}

.text-supporting .description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  color: #5f6269;
  font-family: Euclid Circular A, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  z-index: 276;
}

.header .header-1 .container .navigation-actions {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  gap: 12px;
}

.solutions-page .header .header-1 .container .navigation-actions:first-child {
  color: #ffffff;
}

.hero-header-section .overlay {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home-page .hero-header-section.active,
.product-page .hero-header-section.active {
  z-index: 99;
}

.hero-header-section.active .overlay {
  position: absolute;
  visibility: visible;
  z-index: 0;
}

/* Header End */

/* Section Start */

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 64px;
  position: relative;
  min-width: 0;
  z-index: 36;
}

.home-page .section,
.product-page .section {
  justify-content: center;
  padding: 64px 0 96px 0;
}

.solutions-page .section {
  padding: 96px 0 0 0;
}

.section .container {
  flex-shrink: 0;
  position: relative;
  width: 1440px;
  padding: 104px 80px 64px 80px;
  height: 640px;
  z-index: 37;
  display: flex;
}

.section .container .image {
  width: 560px;
  height: 640px;
  z-index: 38;
  border-radius: 16px;
}

.section .container .image {
  position: absolute;
  width: 560px;
  height: 640px;
  top: 0;
  right: 112px;
  background: url(../images/services.png)
    no-repeat center;
  background-size: cover;
  z-index: 38;
  border-radius: 16px;
}

.section .container .image .hand-drawn-arrow {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 355px 0 0 -130px;
  background: url(../images/hand-drawn-arrow.png)
    no-repeat center;
  background-size: cover;
  z-index: 39;
}

.section .container .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 48px;
  position: relative;
  width: 800px;
  height: 314px;
  z-index: 40;
  flex: 1;
  justify-content: center;
  padding: 0 32px;
}

.section .container .content .section-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  min-width: 0;
  z-index: 41;
}

.section .container .content .section-text .heading {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 800px;
  color: #0c101c;
  font-family: Euclid Circular A, var(--default-font-family);
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  text-align: left;
  letter-spacing: -1.2px;
  z-index: 42;
}

.section .container .content .section-text .description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 560px;
  color: #53565e;
  font-family: Euclid Circular A, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: left;
  z-index: 43;
}

.section .container .content .section-action {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 164px;
  height: 48px;
  z-index: 44;
}

.section .brands {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 32px;
  position: relative;
  width: 1238.399px;
  z-index: 47;
}

.section .brands .desc {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 658px;
  height: 24px;
  color: #777980;
  font-family: Gilroy, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  opacity: 0.9;
  z-index: 48;
}

.section .brands .companies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 32px;
  padding: 0 120px 0 120px;
  z-index: 49;
}

.section .brands .companies img {
  height: inherit;
  padding: 5px;
}

/* Section End */

/* CTA Start */

.cta-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 64px;
  position: relative;
  width: 1440px;
  padding: 96px 0 96px 0;
  background: #ffffff;
  z-index: 166;
}

.cta-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 1280px;
  padding: 0 32px 0 32px;
  z-index: 167;
}

.cta-section .container .content {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  background: #9278e5;
  z-index: 168;
  overflow: hidden;
  border-radius: 24px;
  box-shadow: 0 8px 8px 0 rgba(16, 24, 40, 0.03);
}

.cta-section .container .content .content-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 40px;
  position: relative;
  padding: 64px 64px 64px 64px;
  z-index: 169;
}

.cta-section .container .content .content-text .heading-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  z-index: 170;
}

.cta-section .container .content .content-text .heading-description .heading {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  color: #ffffff;
  font-family: Euclid Circular A, var(--default-font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
  z-index: 171;
}

.cta-section .container .content .content-text .heading-description .description {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 25px;
  color: #ffffff;
  font-family: Euclid Circular A, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
  z-index: 172;
}

.cta-section .container .content .content-text .actions {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 340px;
  z-index: 175;
}

.cta-section .container .content .content-text .actions .button-full-radius {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 164px;
  height: 48px;
  padding: 16px 16px 16px 16px;
  cursor: pointer;
  border-radius: 3000px;
  text-decoration: none;
}

.cta-section .container .content .content-text .actions .button-full-radius.first {
  border: 1.5px solid #ffffff;
  background: transparent;
}

.cta-section .container .content .content-text .actions .button-full-radius.second {
  border: none;
  background: #ffffff;
}

.cta-section .container .content .content-text .actions .button-full-radius span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 52px;
  height: 24px;
  font-family: Euclid Circular A, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
}

.cta-section .container .content .content-text .actions .button-full-radius.first span {
  color: #ffffff;
}

.cta-section .container .content .content-text .actions .button-full-radius.second span {
  color: #232222;
}

.cta-section .container .content .content-image {
  flex-shrink: 0;
  position: relative;
  width: 480px;
  height: 400px;
  z-index: 180;
}

.cta-section .container .content .content-image img {
  height: inherit;
}

/* CTA End */

/* Footer Start */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 64px;
  position: relative;
  width: 100%;
  padding: 64px 0 48px 0;
  background: #080721;
  z-index: 181;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 48px;
  position: relative;
  width: 1280px;
  padding: 0 32px 0 32px;
  z-index: 182;
}

.footer .container .content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  z-index: 183;
}

.footer .container .content.social {
  border-top: 1px solid #475466;
  padding-top: 32px;
}

.footer .container .content.links .logo {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 83.186px;
  height: 31.871px;
  z-index: 184;
}

.footer .container .content.links .logo .union {
  position: absolute;
  width: 13.22px;
  height: 28.131px;
  top: 0;
  left: 0;
  background: url(../images/biveri.png)
    no-repeat center;
  background-size: cover;
  z-index: 187;
}

.footer .container .content.links .logo .biveri {
  position: absolute;
  width: 59px;
  height: 29px;
  top: 2.871px;
  left: 24.186px;
  font-family: Josefin Sans, var(--default-font-family);
  font-size: 22.67680549621582px;
  font-weight: 700;
  line-height: 22.677px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 186;
}

.footer .container .content.links .logo .biveri .bi {
  position: relative;
  color: #ffffff;
  font-family: Euclid Circular A, var(--default-font-family);
  font-size: 22.67680549621582px;
  font-weight: 700;
  line-height: 22.677px;
  text-align: left;
}

.footer .container .content.links .logo .biveri .veri {
  position: relative;
  color: #ffffff;
  font-family: Euclid Circular A, var(--default-font-family);
  font-size: 22.67680549621582px;
  font-weight: 300;
  line-height: 27.212px;
  text-align: left;
}

.footer .container .content.links .links {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 32px;
  position: relative;
  width: 844px;
  z-index: 188;
}

.footer .container .content.links .links .footer-links-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 16px;
  position: relative;
  min-width: 0;
  z-index: 189;
}

.footer .container .content.links .links .footer-links-column .heading {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #abb0c7;
  font-family: Euclid Circular A, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 190;
}

.footer .container .content.links .links .footer-links-column .footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  z-index: 191;
}

.footer .container .content.links .links .footer-links-column .footer-links .footer-link {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
}

.footer .container .content.links .links .footer-links-column .footer-links .footer-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.footer .container .content.links .links .footer-links-column .footer-links .footer-link a span {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Euclid Circular A, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 194;
}

.footer .container .content.social .social-icons {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
}

.footer .container .content.social .social-icons .social-icon {
  flex-shrink: 0;
  position: relative;
}

.footer .container .content.social .social-icons .social-icon img {
  width: 24px;
}

.footer .container .content.social .footer-links {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
}

.footer .container .content.social .footer-links .footer-link {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
}

.footer .container .content.social .footer-links .footer-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  text-decoration: none;
}

.footer .container .content.social .footer-links .footer-link a span {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  color: #848aa3;
  font-family: Euclid Circular A, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 251;
}

/* Footer End */

/* Cookie Start */

.cookie {
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 32px;
  position: fixed;
  margin: 0 auto;
  padding: 32px 80px 0 80px;
  background: #f5f5f5;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: none;
}

.cookie.active {
  display: flex;
}

.cookie .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  padding: 0 0 32px 0;
  max-width: 1440px;
}

.cookie .container .title {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 25px;
  color: #0c101c;
  font-family: Euclid Circular A, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  white-space: nowrap;
}

.cookie .container .content {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 104px;
  position: relative;
}

.cookie .container .content .description {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  font-family: Euclid Circular A, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.cookie .container .content .description span {
  position: relative;
  color: #53565e;
  font-family: Euclid Circular A, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.cookie .container .content .description span.bold {
  color: #1a202c;
  font-weight: 600;
  text-decoration: underline;
}

.cookie .container .content .actions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 412px;
}

.cookie .container .content .actions .full-radius {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 200px;
  height: 48px;
  padding: 16px 16px 16px 16px;
  cursor: pointer;
  border-radius: 3000px;
}

.cookie .container .content .actions .full-radius.settings {
  border: 1.5px solid #07041e;
}

.cookie .container .content .actions .full-radius.settings span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 57px;
  height: 24px;
  font-family: Euclid Circular A, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  color: #07041e;
}

.cookie .container .content .actions .full-radius.accept span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 64px;
  height: 24px;
  color: #ffffff;
  font-family: Euclid Circular A, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
}

.cookie-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

/* Cookie End */

/* Buttons Start */

a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  padding: 16px;
  margin: 0 auto;
  background: linear-gradient(135deg, #07041e, #15203b);
  border-radius: 3000px;
  width: inherit;
  height: inherit;
  text-decoration: none;
}

a.button.large {
  /* height: 56px; */
}

a.button.medium {
  /* height: 48px; */
}

a.button.small {
  /* height: 32px; */
  padding: 8px 16px;
}

a.button span {
  font-family: Euclid Circular A, var(--default-font-family);;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

a.button.small span {
  font-size: 14px;
}

a.button.primary.dark {
  background: linear-gradient(135deg, #07041e, #15203b);
  border: none;
  color: #ffffff;
}

a.button.primary.dark:hover {
  background: #313A4B;
  border: none;
  color: #ffffff;
}

a.button.primary.dark:active {
  background: #080721;
  border: none;
  color: #ffffff;
}

a.button.primary.yellow {
  background: radial-gradient(at left, #EC9719 0%, #EBD613 100%);
  border: none;
  color: #ffffff;
}

a.button.primary.yellow:hover {
  background: radial-gradient(at left, #EC9719 0%, #EBD613 100%);
  border: none;
  color: #ffffff;
}

a.button.primary.yellow:active {
  background: radial-gradient(at left, #EC9719 0%, #EBD613 100%);
  border: none;
  color: #ffffff;
}

a.button.primary.white {
  background: #FFFFFF;
  border: none;
  color: #232222;
}

a.button.primary.white:hover {
  background: #EAEDF0;
  border: none;
  color: #232222;
}

a.button.primary.white:active {
  background: #DBE2E8;
  border: 1.5px solid #DBE2E8;
  color: #232222;
}

a.button.primary.red {
  background: #FF4646;
  border: 1.5px solid #FF4646;
  color: #FFFFFF;
}

a.button.primary.red:hover {
  background: #F28787;
  border: 1.5px solid #F28787;
  color: #FFFFFF;
}

a.button.primary.red:active {
  background: #DB0707;
  border: 1.5px solid #DB0707;
  color: #FFFFFF;
}

a.button.secondary.dark {
  background: #ffffff;
  border: 1.5px solid #080721;
  color: #080721;
}

a.button.secondary.dark:hover {
  background: #313A4B;
  border: none;
  color: #ffffff;
}

a.button.secondary.dark:active {
  background: #080721;
  border: none;
  color: #ffffff;
}

a.button.secondary.red {
  background: #ffffff;
  border: 1.5px solid #FF4646;
  color: #FF4646;
}

a.button.secondary.red:hover {
  background: #F9423A;
  border: none;
  color: #ffffff;
}

a.button.secondary.red:active {
  background: #DB0707;
  border: none;
  color: #ffffff;
}

a.button.secondary.white {
  background: transparent;
  border: 1.5px solid #FFFFFF;
  color: #1D243C;
}

a.button.secondary.white:hover {
  background: transparent;
  border: 1.5px solid #FFFFFF;
  color: #1D243C;
}

a.button.secondary.white:active {
  background: #EAEDF0;
  border: none;
  color: #1D243C !important;
}

/* Buttons End */